/* Tables */
/* -------------------------------------------------- */
table {
	background-color: transparent;
}
caption {
	padding-top: 8px 10px;
	padding-bottom: 8px 10px;
	color: #bfbfbf;
	text-align: left;
}
th {
	text-align: left;
}
.table table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 22px;
	border-collapse: collapse;
	border-spacing: 0;
}
.table table > thead > tr > th,
.table table > tbody > tr > th,
.table table > tfoot > tr > th,
.table table > thead > tr > td,
.table table > tbody > tr > td,
.table table > tfoot > tr > td {
	padding: 8px 10px;
	line-height: 1.6;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}
.table table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #dddddd;
}
.table table > caption + thead > tr:first-child > th,
.table table > colgroup + thead > tr:first-child > th,
.table table > thead:first-child > tr:first-child > th,
.table table > caption + thead > tr:first-child > td,
.table table > colgroup + thead > tr:first-child > td,
.table table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.table table > tbody + tbody {
	border-top: 2px solid #dddddd;
}
.table table .table {
	background-color: #f1f0ee;
}
.table-condensed table > thead > tr > th,
.table-condensed table > tbody > tr > th,
.table-condensed table > tfoot > tr > th,
.table-condensed table > thead > tr > td,
.table-condensed table > tbody > tr > td,
.table-condensed table > tfoot > tr > td {
	padding: 5px;
}
.table-bordered table {
	border: 1px solid #dddddd;
}
.table-bordered table > thead > tr > th,
.table-bordered table > tbody > tr > th,
.table-bordered table > tfoot > tr > th,
.table-bordered table > thead > tr > td,
.table-bordered table > tbody > tr > td,
.table-bordered table > tfoot > tr > td {
	border: 1px solid #dddddd;
}
.table-bordered table > thead > tr > th,
.table-bordered table > thead > tr > td {
	border-bottom-width: 2px;
}
.table-striped table > tbody > tr:nth-child(odd) {
	background-color: #f9f9f9;
}
.table-hover table > tbody > tr:hover {
	background-color: #f5f5f5;
}
table col[class*="col-"] {
	position: static;
	float: none;
	display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
	position: static;
	float: none;
	display: table-cell;
}

.table {
	overflow-x: auto;
	min-height: 0.01%;
}
@media screen and (max-width: 767px) {
	.table {
		width: 100%;
		margin-bottom: 16.5px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #dddddd;
	}
	.table > table {
		margin-bottom: 0;
	}
	.table > table > thead > tr > th,
	.table > table > tbody > tr > th,
	.table > table > tfoot > tr > th,
	.table > table > thead > tr > td,
	.table > table > tbody > tr > td,
	.table > table > tfoot > tr > td {
		white-space: nowrap;
	}
	.table > .table-bordered {
		border: 0;
	}
	.table > .table-bordered > thead > tr > th:first-child,
	.table > .table-bordered > tbody > tr > th:first-child,
	.table > .table-bordered > tfoot > tr > th:first-child,
	.table > .table-bordered > thead > tr > td:first-child,
	.table > .table-bordered > tbody > tr > td:first-child,
	.table > .table-bordered > tfoot > tr > td:first-child {
		border-left: 0;
	}
	.table > .table-bordered > thead > tr > th:last-child,
	.table > .table-bordered > tbody > tr > th:last-child,
	.table > .table-bordered > tfoot > tr > th:last-child,
	.table > .table-bordered > thead > tr > td:last-child,
	.table > .table-bordered > tbody > tr > td:last-child,
	.table > .table-bordered > tfoot > tr > td:last-child {
		border-right: 0;
	}
	.table > .table-bordered > tbody > tr:last-child > th,
	.table > .table-bordered > tfoot > tr:last-child > th,
	.table > .table-bordered > tbody > tr:last-child > td,
	.table > .table-bordered > tfoot > tr:last-child > td {
		border-bottom: 0;
	}
}

.table .desc-col {
	text-align: right;
	font-weight: bold;
}



/* Price Table */
/* -------------------------------------------------- */
.pricing {
	text-align: center;
	font-size: 33px;
}
.package {
	display: inline-block;
	font-size: 14px;
	/* width: 255px; */
	width: 100%;
	position: relative;
	border: 1px solid #eeeeee;
	padding-bottom: 0;
	vertical-align: top;
	/* vertical-align: middle;*/
}
.package .heading-row,
.package .pricing-row {
	background: #000000;
	color: #ffffff;
}

.package .pricing-row{
	min-height: 100px;
}
.package .heading-row span,
.package .pricing-row span {
	display: block;
	padding: 13px 0;
}
.package .heading-row span {
	font-size: 22px;
	text-transform: uppercase;
	border-bottom: 1px solid #eaeaea;
	border-bottom-color: rgba(234, 234, 234, 0.15);
}
.package .pricing-row span {
	font-size: 28px;
}

.package .col-row:nth-child(2n+1) {
	background: #f7f7f7;
}


.pricing .package-wrap.highlight-col .heading-row,
.pricing .package-wrap.highlight-col .pricing-row {
	background: #f17e12;
}

.pricing .package-wrap.highlight-col .default-row {
	padding: 10px 0;
}

.pricing .package-wrap.desc-col {
	text-align: right;
	border: none;
	box-sizing: border-box;
	margin: 0;
	max-width: 225px;
}

.pricing .package-wrap.desc-col .heading-row,
.pricing .package-wrap.desc-col .pricing-row {
	background: #cccccc;
	padding-right: 5px;
/*	background: none;
	color: transparent;
	visibility: hidden;*/
}
.pricing .package-wrap.desc-col .default-row {
	background: none;
	/*border-top: 1px solid #eee;*/
	padding-top: 9px;
	padding-right: 5px;
}
.pricing .package-wrap.desc-col .col-row:last-child {
	border-bottom: 1px solid #eee;
}

.pricing .package-wrap.desc-col .switch-row {
	text-align: center;
}

/** button **/
.package .button-row {
	padding: 15px 0;
}

.table .button-row td *,
.package .button-row * {
	word-break: normal;
	white-space: normal;
}
/** end button**/

.pricing .price-icon-no:before {
	content: "\f068";
	color: #cb1e1b;
}

.pricing .price-icon-yes:before {
	content: "\f058";
	color: #06cb00;
}