.iconbox {
	padding: 30px 0;
}
.iconbox .iconbox-title h3 {
	margin-top: 0;
	font-size: 23px;
	font-weight: bold;
}
.iconbox .iconbox-text {
	padding-bottom: 10px;
}
.iconbox .iconbox-text p:last-child {
	margin-bottom: 0;
}
/* Icon box style 1 */
.iconbox-1 {
	text-align: center;
}
.iconbox-1 .iconbox-image {
	width: 56px;
	font-size: 28px;
	line-height: 28px;
	margin-right: auto;
	margin-left: auto;
	color: #5bcc92;
	border-radius: 5px;
}
.iconbox-1 .iconbox-image img {
	border-radius: 5px;
}
.iconbox-1 .iconbox-title h3 {
	margin-top: 0.6em;
}
.iconbox-1.bg-on .iconbox-image {
	width: 56px;
	height: 56px;
	line-height: 56px;
	background-color: #5bcc92;
	color: #fff;
}
.iconbox-1.icon-circle .iconbox-image {
	border-radius: 50%;
}
.iconbox-1.icon-circle .iconbox-image img {
	border-radius: 50%;
}
/* Icon box style 2 */
.iconbox-2 {
	text-align: left;
}
.iconbox-2 .iconbox-image {
	float: left;
	width: 28px;
	font-size: 28px;
	line-height: 28px;
	color: #5bcc92;
	border-radius: 5px;
	text-align: left;
}
.iconbox-2 .iconbox-image img {
	border-radius: 5px;
}
.iconbox-2 .iconbox-aside {
	margin-left: 43px;
}
.iconbox-2.bg-on .iconbox-title h3,
.iconbox-2.iconbox-image-type .iconbox-title h3 {
	margin-top: 14px;
}
.iconbox-2.bg-on .iconbox-image {
	width: 56px;
	height: 56px;
	line-height: 56px;
	background-color: #5bcc92;
	color: #fff;
	text-align: center;
}
.iconbox-2.icon-circle .iconbox-image {
	border-radius: 50%;
}
.iconbox-2.icon-circle .iconbox-image img {
	border-radius: 50%;
}
/* Icon box style 3 */
.iconbox-3 {
	text-align: left;
}
.iconbox-3 .iconbox-image {
	float: left;
	width: 56px;
	font-size: 28px;
	color: #5bcc92;
	border-radius: 5px;
	line-height: 28px;
}
.iconbox-3 .iconbox-image img {
	border-radius: 5px;
}
.iconbox-3.iconbox-image-type .iconbox-image {
	margin-right: 15px;
}
.iconbox-3 .iconbox-aside {
	display: inline;
}
.iconbox-3.bg-on .iconbox-title h3,
.iconbox-3.iconbox-image-type .iconbox-title h3 {
	margin-top: 14px;
}
.iconbox-3.bg-on .iconbox-image {
	width: 56px;
	height: 56px;
	line-height: 56px;
	background-color: #5bcc92;
	color: #fff;
	text-align: center;
	margin-right: 15px;
}
.iconbox-3.icon-right .iconbox-image {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}
.iconbox-3 .iconbox-text {
	clear: both;
	padding-top: 10px;
}
.iconbox-3.icon-circle .iconbox-image {
	border-radius: 50%;
}
.iconbox-3.icon-circle .iconbox-image img {
	border-radius: 50%;
}