/** fix infowindow dimensions **/
.map-canvas .unyson-shortcode-map-content {
	/*max-width: 420px;*/
	min-width: 274px;
	padding: 5px 4px ;
}
.map-canvas img {
	max-width: none !important;

}
.map-canvas .gm-style-iw{
	/*min-height: 70px;*/
	overflow: hidden;
}
/** .fix infowindow dimensions **/

.map-canvas .infowindow a {
	text-decoration: none;
	font-weight: bold;
	color: #568EC7;
}
.map-canvas .infowindow-thump img {
	width: 100px;
	height: 60px;
	margin-right: 10px;
}
.map-canvas .infowindow-thump {
	float: left;
}
.map-canvas .infowindow-title {
	line-height: 27px;
}
.map-canvas .infowindow-description {
	color: #AFAFAF;
	font-size: 11px;
	font-style: italic;
}
.map-canvas .infowindow-content {
	float: left;
	max-width: 130px;
}