/* Headings */
.builder-item h1, .builder-item h2, .builder-item h3, .builder-item h4, .builder-item h5, .builder-item h6 {
    margin: 1em 0 0.5em;
    font-weight: 600;
    line-height: 1.3;
    color: #222; /* dark gray for readability */
	padding: 8px 0 0 !important;
}

/* Individual heading sizes */
.builder-item h1 {
    font-size: 28px !important;
}

.builder-item h2 {
    font-size: 22px !important;
}

.builder-item h3 {
    font-size: 18px !important;
}

.builder-item h4 {
    font-size: 16px !important;
}

.builder-item h5 {
    font-size: 14px !important;
}

.builder-item h6 {
    font-size: 13px !important;
}

/* Optional: add some spacing between heading and paragraph */
.builder-item h1 + p,
.builder-item h2 + p,
.builder-item h3 + p,
.builder-item h4 + p,
.builder-item h5 + p,
.builder-item h6 + p {
    margin-top: 0.5em;
}


/* Original Unyson CSS Starts Here */

/* Thumb */
.fw-option-type-page-builder .builder-item-type[data-builder-item-type="column"] img {
	width: 30px;
	height: 25px;
}

/* Column Builder Item */
.pb-item-type-column {
	background-color: #f8f8f8;
	border: 1px dashed #d8d8d8;
	color: #01729c;
	min-height: 35px;
}

/* Panel */
.pb-item-type-column > .panel {
	padding: 10px 5px;
	font-size: 12px;
}
.pb-item-type-column > .panel .column-title .dashicons {
	font-size: 16px;
	width: 16px;
	height: 16px;
}
.pb-item-type-column > .panel i {
	cursor: pointer;
	font-size: 16px;
}
.pb-item-type-column > .panel i:hover {
	color: #019aca;
}
.pb-item-type-column > .panel .controls {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
body.rtl .pb-item-type-column > .panel .controls {
	right: initial;
	left: 0;
}
.pb-item-type-column:hover > .panel .controls {
	display: block;
}
.builder-item.ui-sortable-helper > .pb-item-type-column:hover > .panel .controls {
	display: none;
}

/* Hide Duplicate Button when 1/6 column & small screen */
@media (max-width: 1824px) {
	.builder-item.fw-col-sm-2 .pb-item-type-column.has-options .column-item-clone {
		display: none;
	}
}

/* Inner Items */
.pb-item-type-column > .builder-items {
	padding: 7px 0 13px;
	min-height: 83px;
}
.pb-item-type-column > .builder-items > .builder-item {
	padding: 0 11px 11px;
}

/* Accept / Deny Incoming Items */
.builder-item.fw-builder-item-deny-incoming-type > .pb-item-type-column .ui-sortable-placeholder {
	display: none;
}


/* collapsed */

.builder-item.pb-item-column-collapsed > .pb-item-type-column > .panel .column-item-collapse:before {
	content: "\f142"; /* .dashicons-arrow-up */
}

.builder-item.pb-item-column-collapsed > .pb-item-type-column .builder-items.ui-sortable {
	min-height: 0.001px;
	height: 0.001px;
	overflow: hidden; /* insted of display:none, prevents glitch when the second section is collapsed */
	padding: 0;
}

/* end: collapsed */
